@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Web App Learning Class and running CICD</h1>
    <p>Learn about <a href="https://livescore.com">building Web apps with .net framwork and deploying with app serice and azure dev </a>.</p>
</div>
